# Data Structures
Copied codes from [Python tutorial](https://docs.python.org/3/tutorial/datastructures.html).

## More on Lists

In [1]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple')

2

In [2]:
fruits.count('tangerine')

0

In [3]:
fruits.index('banana')

3

In [4]:
fruits.index('banana', 4)  # Find next banana starting a position 4

6

In [5]:
fruits.reverse()
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [6]:
fruits.append('grape')
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [7]:
fruits.sort()
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [8]:
fruits.pop() # remove last

'pear'

### List Comprehensions

In [9]:
squares = []
for x in range(10):
    squares.append(x**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
squares = list(map(lambda x: x**2, range(10)))
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [11]:
squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## Sets
Unordered collection with no duplicate elements.

In [12]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)                      # show that duplicates have been removed

{'pear', 'apple', 'orange', 'banana'}

In [13]:
'orange' in basket                 # fast membership testing

True

In [14]:
'crabgrass' in basket

False

In [15]:
# Demonstrate set operations on unique letters from two words
a = set('abracadabra')
b = set('alacazam')
a                                  # unique letters in a

{'a', 'b', 'c', 'd', 'r'}

In [16]:
a - b                              # letters in a but not in b

{'b', 'd', 'r'}

In [17]:
a | b                              # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [18]:
a & b                              # letters in both a and b

{'a', 'c'}

In [19]:
a ^ b                              # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

## Dictionaries

In [20]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

{'guido': 4127, 'jack': 4098, 'sape': 4139}

In [21]:
tel['jack']

4098

In [22]:
del tel['sape']
tel['irv'] = 4127
tel

{'guido': 4127, 'irv': 4127, 'jack': 4098}

In [23]:
list(tel.keys())

['jack', 'guido', 'irv']

In [24]:
sorted(tel.keys())

['guido', 'irv', 'jack']

In [25]:
'guido' in tel

True

In [26]:
'jack' not in tel

False

In [27]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave