# An Informal Introduction to Python
Copied codes from [Python tutorial](https://docs.python.org/3/tutorial/introduction.html).

Comments:

In [1]:
# this is the first comment
spam = 1  # and this is the second comment
          # ... and now a third!
text = "# This is not a comment because it's inside quotes."

## Using Python as a Calculator
### Numbers

In [2]:
2 + 2

4

In [3]:
50 - 5*6

20

In [4]:
(50 - 5*6) / 4

5.0

In [5]:
8 / 5 # division always returns a floating point number

1.6

In [6]:
17 / 3  # classic division returns a float

5.666666666666667

In [7]:
17 // 3  # floor division discards the fractional part

5

In [8]:
17 % 3  # the % operator returns the remainder of the division

2

In [9]:
5 * 3 + 2  # result * divisor + remainder

17

In [10]:
5 ** 2  # 5 squared

25

In [11]:
2 ** 7  # 2 to the power of 7

128

In [12]:
width = 20 # assign to variables
height = 5 * 9
width * height

900

In [13]:
n  # try to access an undefined variable

NameError: name 'n' is not defined

In [14]:
# There is full support for floating point;
# operators with mixed type operands convert
# the integer operand to floating point
4 * 3.75 - 1

14.0

In interactive mode, the last printed expression is assigned to the variable `_`. This means that when you are using Python as a desk calculator, it is somewhat easier to continue calculations, for example:

In [15]:
tax = 12.5 / 100
price = 100.50
price * tax

12.5625

In [16]:
price + _

113.0625

In [17]:
round(_, 2)

113.06

### Strings

In [18]:
'spam eggs' # single quotes

'spam eggs'

In [19]:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [20]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [21]:
'"Yes," he said.'

'"Yes," he said.'

In [22]:
"\"Yes,\" he said."

'"Yes," he said.'

In [23]:
'"Isn\'t," she said.'

'"Isn\'t," she said.'

In the interactive interpreter, the output string is enclosed in quotes and special characters are escaped with backslashes. While this might sometimes look different from the input (the enclosing quotes could change), the two strings are equivalent. The string is enclosed in double quotes if the string contains a single quote and no double quotes, otherwise it is enclosed in single quotes. The `print()` function produces a more readable output, by omitting the enclosing quotes and by printing escaped and special characters:

In [24]:
'"Isn\'t," she said.'

'"Isn\'t," she said.'

In [25]:
print('"Isn\'t," she said.')

"Isn't," she said.

In [26]:
s = 'First line.\nSecond line.'  # \n means newline
s  # without print(), \n is included in the output

'First line.\nSecond line.'

In [27]:
print(s)  # with print(), \n produces a new line

First line.
Second line.

In [28]:
print('C:\some\name')  # here \n means newline!

C:\some
ame

In [29]:
print(r'C:\some\name')  # note the r before the quote

C:\some\name

In [30]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [31]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'

'unununium'

In [32]:
'Py' 'thon'

'Python'

In [33]:
# useful when you want to break long strings
text = ('Put several strings within parentheses '
        'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

In [34]:
prefix = 'Py'
prefix 'thon'  # can't concatenate a variable and a string literal

SyntaxError: invalid syntax (<ipython-input-34-20527b549823>, line 2)

In [35]:
('un' * 3) 'ium' # doesn't work

SyntaxError: invalid syntax (<ipython-input-35-aa7e763c6492>, line 1)

In [36]:
word = 'Python'
word[0]  # character in position 0

'P'

In [37]:
word[5]  # character in position 5

'n'

In [38]:
word[-1]  # last character

'n'

In [39]:
word[-2]  # second-last character

'o'

In [40]:
word[-6]

'P'

In [41]:
word[0:2]  # characters from position 0 (included) to 2 (excluded)

'Py'

In [42]:
word[2:5]  # characters from position 2 (included) to 5 (excluded)

'tho'

Note how the start is always included, and the end always excluded. This makes sure that `s[:i] + s[i:]` is always equal to `s`

In [43]:
word[:2] + word[2:]

'Python'

In [44]:
word[:4] + word[4:]

'Python'

Slice indices have useful defaults; an omitted first index defaults to zero, an omitted second index defaults to the size of the string being sliced.

In [45]:
word[:2]   # character from the beginning to position 2 (excluded)

'Py'

In [46]:
word[4:]   # characters from position 4 (included) to the end

'on'

In [47]:
word[-2:]  # characters from the second-last (included) to the end

'on'

One way to remember how slices work is to think of the indices as pointing _between_ characters, with the left edge of the first character numbered $0$. Then the right edge of the last character of a string of $n$ characters has index $n$, for example:

```
 +---+---+---+---+---+---+
 | P | y | t | h | o | n |
 +---+---+---+---+---+---+
 0   1   2   3   4   5   6
-6  -5  -4  -3  -2  -1
```

The first row of numbers gives the position of the indices $0 \ldots 6$ in the string; the second row gives the corresponding negative indices. The slice from $i$ to $j$ consists of all characters between the edges labeled $i$ and $j$, respectively.

For non-negative indices, the length of a slice is the difference of the indices, if both are within bounds. For example, the length of `word[1:3]` is $2$.

Attempting to use an index that is too large will result in an error:

In [48]:
word[42]  # the word only has 6 characters

IndexError: string index out of range

However, out of range slice indexes are handled gracefully when used for slicing:

In [49]:
word[4:42]

'on'

In [50]:
word[42:]

''

Python strings cannot be changed — they are immutable. Therefore, assigning to an indexed position in the string results in an error. If you need a different string, you should create a new one

In [51]:
word[0] = 'J'

TypeError: 'str' object does not support item assignment

In [ ]:
word[2:] = 'py'

In [52]:
'J' + word[1:]

'Jython'

In [53]:
word[:2] + 'py'

'Pypy'

In [54]:
s = 'supercalifragilisticexpialidocious'
len(s)

34

### Lists
Python knows a number of _compound_ data types, used to group together other values. The most versatile is the _list_, which can be written as a list of comma-separated values (items) between square brackets. Lists might contain items of different types, but usually the items all have the same type.

In [55]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [56]:
squares[0]  # indexing returns the item

1

In [57]:
squares[-1]

25

In [58]:
squares[-3:]  # slicing returns a new list

[9, 16, 25]

In [59]:
squares[:] # shallow copy of the list

[1, 4, 9, 16, 25]

In [60]:
squares + [36, 49, 64, 81, 100] # concatenation

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [61]:
# unlike strings, lists are mutable
cubes = [1, 8, 27, 65, 125]  # something's wrong here
4 ** 3  # the cube of 4 is 64, not 65!

64

In [62]:
cubes[3] = 64  # replace the wrong value
cubes

[1, 8, 27, 64, 125]

In [63]:
cubes.append(216)  # add the cube of 6
cubes.append(7 ** 3)  # and the cube of 7
cubes

[1, 8, 27, 64, 125, 216, 343]

In [64]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [65]:
# replace some values
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [66]:
# now remove them
letters[2:5] = []
letters

['a', 'b', 'f', 'g']

In [67]:
# clear the list by replacing all the elements with an empty list
letters[:] = []
letters

[]

In [68]:
letters = ['a', 'b', 'c', 'd']
len(letters)

4

In [69]:
# nest lists to create multi-dimensional lists.
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [70]:
x[0]

['a', 'b', 'c']

In [71]:
x[0][1]

'b'

In [72]:
# Fibonacci series:
# the sum of two elements defines the next
a, b = 0, 1
while b < 10:
    print(b)
    a, b = b, a+b

1
1
2
3
5
8

In [73]:
a, b = 0, 1
while b < 1000:
    print(b, end=', ')
    a, b = b, a+b
print('...')

1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, ...